body {
    background-image: url(image/pexels-chevanon-325044.jpg);
}
#cont1{
    width: 35rem;
    border: 2px solid black;
    height: 22rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.362);
    margin: 13rem auto;
}
.pages h1 {
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    margin-left: 1rem;
}

#cont1 input, #cont2 input{
    width: 30rem;
    height: 2rem;
    margin: 1rem 1rem;
    border-radius: 1.5rem;
    background-color: rgba(0, 0, 0, 0.09);
    color: white;
    padding-left: 14px;
}#cont1 input:hover, #cont2 input:hover{
    border:2px solid yellow;
}
#cont1 input:active, #cont2 input:active{
    background-color: purple;
}

#cont1 a, #cont2 a{
    text-decoration: none;
    margin-left: 1rem;
    color: cyan;
}#cont1 a:hover, #cont2 a:hover{
    color: rgb(149, 149, 241);
}

#cont1:hover, #cont2:hover{
   border: 3px solid yellow;
}
#cont2 input {
    width: 25rem;
    height: 2rem;
    margin: 1rem 1rem;
    border-radius: 1.5rem;
    background-color: rgba(0, 0, 0, 0.09);
    padding: 5px 5px;
}
#cont2{
    border: 2px solid black;
    width: 30rem;
    height: 32rem;
    border-radius: 2rem;
    margin: 13rem auto;
    background-color: rgba(0, 0, 0, 0.362);
}